#box{
    max-width: 700px;
    height: 500px;
    padding: 50px 50px 50px 50px;
    margin: 50px auto 50px auto;
    background-color: #ffffff;
    border: 1px solid #ffffff;
  
    display: block;
    font-family: Roboto;
    background-color: rgba(255, 255, 255, 0.77);  
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 80px 0px;
}